.Dictionary {
  max-width: 960px;
  margin: 0 auto;
}

.Dictionary h1 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background: whitesmoke;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 8px;
  height: 64px;
  font-size: 18px;
  line-height: 21px;
  color: black;
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
}
